{% extends 'base.html.twig' %}

{% block title %}Coucou Célestin !{% endblock %}

{% block body %}
    <h1 style="text-align: center">Restaurants de {{ ville.nom }}</h1>
<ul style="list-style: none; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
    {% for resto in ville.restaurant %}
        <li style="width: 40%; margin: 20px">
            <div class="card text-center">
                <div class="card-header">
                    <h5>{{ resto.nom }}</h5>
                </div>
                <div class="card-body">
                    <img src="{{ resto.image}}" class="card-img" alt="{{ resto.nom }}">
                    <h5 class="card-title">Venez goûter nos spécialités {{ random(['japonaise', 'française', 'italienne', 'espagnole', 'turque', 'grecque', 'chinoise', 'américaine', 'thaïlandaise', 'indienne']) }}</h5>
                    <p class="card-text">Notre restaurant est situé {{ resto.adresse }}</p>
                    <a href="{{ path('data_resto', {nom: resto.nom})}}" class="btn btn-dark">Découvrir le restaurant</a>
                </div>
                <div class="card-footer text-muted">
                    Posté il y {{ random(1, 365)}} jours <br>
                    Boss : {{ resto.proprietaire.prenom }} {{ resto.proprietaire.nom }} ({{ resto.proprietaire.dateNaissance | date('d-m-Y') }})
                </div>
            </div>
        </li>

    {% endfor %}
    <br>
</ul>
{% endblock %}
